# Composer
/vendor/
composer.lock

# PHPUnit
/.phpunit.cache/
/build/
.phpunit.result.cache
coverage.xml

# PHP CS Fixer
.php-cs-fixer.cache

# PHPStan
phpstan.neon

# IDE & Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Project specific
/cache/
/logs/
/output/
/dist/
*.log

